body{
	background-color: #E8CB9B;
}

.formulario{
	width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 7px 13px 37px #000;
    margin-top: 20%;
    background-color: #bb803d;
}

h1{
	text-align: center;
	margin: 20px;
}

.registro{
	text-align: center;
}