*{
	@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
	font-family: 'Mukta', sans-serif;
}

.categorias{
	padding: 20px;
	margin: 50px;
	height: 400px;
	background-color: white;
}

.title_categories{
	padding-left: 12%;
}

.categoria .lista{
	list-style: none;
	padding-left: 13%;
}

.principal{
	background-color: #EFEFEF;
	display: grid;
	grid-template-columns: 20% 80%;
}

.producto{
	margin: 20px;
}

.seccionprincipal{
	margin-top: 40px;
}

.listaproducto{
	list-style: none;
}