* {
	
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.header {
	margin-top: 25px;
}

.container {
    border: 1px solid black;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.buscador li {
    list-style: none;
    padding: 8px;
    width: 200px;
    border: 1px solid black;
    border-radius: 17px;
}

.buscador li a {
    display: flex; 
    text-decoration: none;
}

.buscardor li a i{
    margin-right: 10px;
}

.cabecera .logo img,
.cabecera .usuario img {
    width: 80px;
    background-color: rgba(240, 248, 255, 0);
}

.cabecera {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
}

.cabecera .lista ul li{
    list-style: none;
}

.cabecera .lista ul li a {
    text-decoration: none;
    padding: 10px;
}

.cabecera .lista ul {
    display: flex;
}

.principal {
	display: grid;
	grid-template-columns: 25% 75%;
}

.categorias {
	padding: 50px;
}

.categorias .categoria h4 {
	margin: 15px;
}

.usuario {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.usuario h5:hover{
	cursor: pointer;
	color: blue;
}

/* lista de productos */
.seccion {
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.producto {
	
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
}

.producto .muestra img{
	width: 250px;
	height: 200px;
}

.producto li {
	list-style: none;
	
}

/* estilos para el FOOTER */

footer {
    /* da un espacio hacia arriba en el footer */
    margin-top: 100px;
    /* divide el footer en 3 secciones */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* le da un fondo gris al footer */
    background-color: rgb(104, 104, 104);
}

/* estiliza la primer seccion del footer */

footer .item {
    margin: 50px;
    text-align: center;
}

/* estiliza el titulo de la segunda seccion del footer */

.item1 .containt h1 {
    text-align: center;
}

/* quita el subrayado de las etiquetas a */

.item1 .containt a {
    text-decoration: none;
}

/* alinea el texto hacia la derecha */

footer .item1 {
    margin: 50px;
    text-align: left;
}


/* estiliza la tercera parte del footer */

footer .item2 {
    margin: 50px;
    text-align: center;
}

