body{
	background-color: #E7E5DF;
}

.formulario{
	width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 7px 13px 37px #000;
    background-color: white;
}

h1{
	text-align: center;
	margin: 20px;
}

.registro{
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
