.form_usuario {
	border: 1px solid red;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.form_usuario div {
	border: 1px solid black;
	padding: 10px;
}

.form_usuario div label {
	display: block;
}

.p_ciudades {
	grid-column: 1/3;
}

.p_ciudades select {
	width: 100%;
}